#include "corne.dtsi"
#include <dt-bindings/behavior_pim447.h>

    pim447_listener: pim447_listener {
        compatible = "zmk,input-listener";
        status = "okay";
        device = <&pimoroni_pim447>;
    };

&default_transform {
	col-offset = <6>;
};

&kscan0 {
	col-gpios
		= <&pro_micro 14 GPIO_ACTIVE_HIGH>
		, <&pro_micro 15 GPIO_ACTIVE_HIGH>
		, <&pro_micro 18 GPIO_ACTIVE_HIGH>
		, <&pro_micro 19 GPIO_ACTIVE_HIGH>
		, <&pro_micro 20 GPIO_ACTIVE_HIGH>
		, <&pro_micro 21 GPIO_ACTIVE_HIGH>
		;
};

&pro_micro_i2c {
    status = "okay";
    clock-frequency = <I2C_BITRATE_FAST>;
    // I2C_BITRATE_STANDARD   100000
    // I2C_BITRATE_FAST   400000

    pimoroni_pim447: pimoroni_pim447@a {
        compatible = "zmk,pimoroni-pim447";
        status = "okay";
        reg = <0x0a>;
        int-gpios = <&pro_micro 4 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
        automouse-layer = <2>;
    };
};
